<h1><%= link_to "Questions", root_path %></h1>

<%= link_to "Create a question", new_question_path %>

<%= form_tag questions_path, method: :get do %>
  <%= text_field_tag "query", params[:query] %>
  <%= submit_tag "Search" %>
<% end %>

<% @questions.each do |question| %>
  <h2><%= question.question %></h2>
  <p><strong><%= question.answer %></strong></p>
  <% question.distractors.each do |distractor| %>
    <p><%= distractor %></p>
  <% end %>
  <p><%= link_to "Edit",   edit_question_path(question) %></p>
  <p><%= link_to "Delete", question_path(question), method: :delete %></p>
<% end %>
<%= paginate @questions %>
