<h1><%= link_to "Questions", root_path %></h1>

<%= link_to "Create a question", new_question_path %>

<div data-fayt>
  <%= form_tag questions_path, method: :get, data: {"fayt-form" => true} do %>
    <%= text_field_tag "query", params[:query], data: {:"fayt-query" => true} %>
    <%= submit_tag "Search" %>
  <% end %>

  <p><%= link_to "1-3 Distractions",  questions_path(merge_params(filter: :short)) %></p>
  <p><%= link_to "4-10 Distractions", questions_path(merge_params(filter: :long))  %></p>

  <div data-fayt-results>
    <%= render partial: 'results' %>
  </div>
</div>
