<h1><%= link_to "Questions", root_path %></h1>

<%= link_to "Create a question", new_question_path %>

<%= form_tag questions_path, method: :get do %>
  <%= text_field_tag "query", params[:query] %>
  <%= submit_tag "Search" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Answer</th>
      <th>Distractors</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.question %></td>
        <td><%= question.answer %></td>
        <td><%= question.distractors.join(", ") %></td>
        <td><%= link_to "Edit",   edit_question_path(question) %></td>
        <td><%= link_to "Delete", question_path(question), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @questions %>
